@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pacifico&family=Monoton&family=Megrim&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 bg-dark text-white font-NotoSansJP;
}

.default-theme {
  @apply bg-dark text-white;
}

.pro-sidebar-inner {
  @apply !bg-dark text-white;
}

.link-text {
  @apply text-vivid-pink underline text-sm;
}

.neon {
  text-align: center;
  margin: auto;
}

.neon b {
  font-weight: 400;
  font-family: 'Megrim';
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #e42575, 0 0 0.5em #e42575,
    0 0 0.1em #e42575, 0 10px 3px #000;
}
.neon b span {
  animation: blink linear infinite 2s;
}
.neon b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
